body {
  /* font-family: Nunito, sans-serif !important; */
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.c-sidebar-brand-full {
  display: inherit;
}

.c-app.c-dark-theme .c-sidebar-brand-full {
  display: none !important;
}

.c-sidebar-brand-full-dark {
  display: none !important;
}

.c-app.c-dark-theme .c-sidebar-brand-full-dark {
  display: inherit !important;
}

.c-header,
.c-dark-theme .c-header {
  background-color: inherit;
  border-bottom: none;
}

.card {
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%) !important;
}

.card-main {
  padding: 0.75rem 1.25rem;
}
.card-asset {
  background-color: #a8edff;
}
.card-tag {
  /* background-color: #99FFD4; */
  background-color: #b3ffe6;
}
.card-tag-location {
  background-color: #ffe6df;
}

.card-main.fixed-height {
  min-height: calc(100vh - 96px);
  margin-bottom: 0.75rem !important;
}

.header-icon > * {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.breadcrumb {
  margin-bottom: -2px;
  font-size: 1rem;
}

button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

a {
  color: inherit;
}

.c-sidebar.c-sidebar-light .c-sidebar-brand {
  background-color: inherit !important;
}

.card-body {
  padding: 0.5rem;
}

.hide {
  display: none !important;
}

/* input */
.form-control[readonly] {
  background-color: #fff !important;
}
/* end input */
/* map */
.coordinates {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 10px;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none;
}

/* end map */

/* filepond */
.filepond--root .filepond--browser {
  max-height: calc(100vh - 700px);
}
.filepond--root .filepond--drop-label {
  min-height: 7em !important;
}
/* end filepond */

.decoration-none {
  text-decoration: none !important;
}

#draggablePanelList .panel-heading {
  cursor: move;
}
#draggablePanelList2 .panel-heading {
  cursor: move;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background: inherit;
  border: none;
  border-bottom: 3px solid var(--primary);
  color: inherit;
}
.nav-tabs .nav-item {
  margin-bottom: -2px;
}

.nav-tabs .nav-link {
  border: none;
  border-bottom: 3px solid transparent;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border: none;
  color: inherit !important;
  border-bottom: 3px solid var(--primary);
}

.tooltipClass {
  text-align: left;
}

.c-main {
  padding-top: 1rem;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-move {
  cursor: move !important;
}

.dt-head-center {
  text-align: center;
}

.title {
  margin-bottom: 0px;
}

.c-sidebar-minimizer {
  background-color: white !important;
}

/* dark theme */

.c-dark-theme a {
  color: rgba(255, 255, 255, 0.6) !important;
}

.c-dark-theme .c-sidebar .c-sidebar-minimizer {
  background-color: #2c2c34 !important;
}
.c-dark-theme .card-header {
  background-color: #23242d !important;
}

.c-dark-theme .c-sidebar .c-sidebar-brand,
.c-dark-theme .c-sidebar .c-sidebar-header {
  background-color: #2c2c34 !important;
}

.c-dark-theme .btndark {
  border: 2px solid #2c2c34;
  border-radius: 2px;
  color: rgba(255, 255, 255, 0.6);
}

.c-dark-theme .select2-container--coreui .select2-dropdown {
  background-color: #23242d !important;
  border-color: #23242d !important;
}
.c-dark-theme
  .select2-container--coreui
  .select2-selection--multiple
  .select2-selection__rendered
  .select2-search__field {
  background-color: inherit !important;
}

/* datatables */

div.dataTables_wrapper div.dataTables_length select {
  min-width: 3.5rem !important;
}

.w-column {
  width: calc(91.9531px + 7px);
}
.dataTables_scrollHeadInner {
  width: 100% !important;
}

.dt-search-input {
  display: none;
  position: absolute;
  top: 0rem;
  background: #fff;
  width: calc(100% - 2.5rem);
  z-index: 10;
}

.c-dark-theme .dt-search-input {
  background-color: #23242d;
}

.c-dark-theme .dt-search-input input {
  color: #fff;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 0 !important;
  margin-left: 0.25rem;
  /* margin-bottom: .21rem; */
}

div.dataTables_wrapper div.dataTables_length label {
  margin-bottom: 0;
}

.ptd-4 {
  padding-top: 0.4rem !important;
}

/* end datatable */

/* table-fix-width */

.table,
.table-fix-width {
  /*background: rgba(255,255,255,.5);*/
  border-radius: 0.5rem;
}

.table-fix-width table {
  width: 100%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
  /* border-left: 1px solid #a4b7c1 !important; */
  /* border-bottom: 1px solid #a4b7c1 !important; */
}

.table-fix-width th,
.table-fix-width td {
  padding: 5px 10px;
  white-space: nowrap;
  vertical-align: top;
  border-bottom-width: 0px !important;
  /* border-left: 0px solid #a4b7c1 !important; */
  /* border-right: 1px solid #a4b7c1 !important; */
}

.table-record-fix-width th,
.table-record-fix-width td {
  padding: 5px 10px;
  white-space: pre-wrap;
  vertical-align: top;
  border-bottom-width: 0px !important;
  /* border-left: 0px solid #a4b7c1 !important; */
  /* border-right: 1px solid #a4b7c1 !important; */
  max-width: 400px;
  max-width: 200px;
}

/* end table-fix-width */

/* input */
.required {
  color: red !important;
}
.card-border {
  border: 1px solid red !important;
}

.input-transparent {
  background-color: rgba(0, 0, 0, 0) !important;
  color: black;
  border: none !important;
  outline: none !important;
  margin: 0 !important;
  height: inherit !important;
}

.input-border-bottom {
  background-color: rgba(0, 0, 0, 0) !important;
  color: black;
  outline: none !important;
  margin: 0 !important;
  height: inherit !important;
}

.input-transparent:focus {
  box-shadow: inherit !important;
}

/* Material Input */
.input-container {
  position: relative;
}

input.material-input {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 0;
  border-bottom: 2px solid #9e9e9e;
  outline: none;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
}

.input-container > .suffix + .material-input,
.input-container > .suffix ~ label {
  margin-right: 3rem !important;
  width: calc(100% - 3rem) !important;
}

.input-container > label {
  top: 0;
  left: 0;
  right: 0;
  color: #9e9e9e;
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 1rem;
  cursor: text;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
}

input.material-input,
.input-container > label {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
}

.input-container > .suffix {
  position: absolute;
  width: 3rem;
  font-size: 1.5rem;
  -webkit-transition: color 2s;
  transition: color 2s;
  top: 1rem;
  right: -0.5rem;
}

/* Interation */
input.material-input:focus {
  border-bottom: 2px solid var(--primary);
}

input.material-input:focus + label {
  color: var(--primary);
  font-size: 0.8rem;
  top: -30px;
  pointer-events: none;
}

input.material-input:focus + .suffix {
  color: var(--primary);
}

/* End Material Input */

/* Select2 */
.select2-container--coreui .select2-results__option--highlighted,
.select2-container--coreui
  .select2-results__option--highlighted.select2-results__option[aria-selected="true"] {
  background-color: var(--primary) !important;
}

select[readonly].select2-hidden-accessible + .select2-container {
  pointer-events: none;
  touch-action: none;
}

/* End Select2 */

/* daterange */

.daterangepicker .ranges li.active,
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: var(--primary) !important;
}

.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
  background-color: var(--primary) !important;
}

.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
  background-color: var(--primary) !important;
  color: #fff !important;
}

.c-app.c-dark-theme .daterangepicker td.in-range {
  background-color: #747474;
  color: #e1e1e1;
}

.c-dark-theme .daterangepicker td.active {
  background-color: var(--primary) !important;
}

.c-dark-theme .daterangepicker .ranges li:hover {
  background-color: #747474;
}

.c-dark-theme .daterangepicker td.available:hover,
.c-dark-theme .daterangepicker th.available:hover {
  background-color: var(--primary) !important;
}

.c-dark-theme .daterangepicker .cancelBtn {
  color: #fff;
}

/* end daterange */

/* timeline */

.history-tl-container {
  font-family: "Roboto", sans-serif;
  line-height: 1.3em;
  width: 100%;
  margin: auto;
  display: block;
  position: relative;
}

.history-tl-container ul.tl {
  margin: 0;
  padding: 0;
  display: block;
}

.history-tl-container ul.tl li {
  list-style: none;
  margin: auto;
  margin-left: 20px;
  min-height: 50px;
  /*background: rgba(255,255,0,0.1);*/
  border-left: 2px dashed #86d6ff;
  padding: 0 0 30px 30px;
  position: relative;
}

.history-tl-container ul.tl li:last-child {
  border-left: 0;
}

.history-tl-container ul.tl li::before {
  position: absolute;
  left: -19px;
  /* top: -5px; */
  content: " ";
  border: 8px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #258cc7;
  height: 35px;
  width: 35px;
  transition: all 500ms ease-in-out;
}

.history-tl-container ul.tl li.dot-primary::before {
  background: #258cc7;
}

.history-tl-container ul.tl li.dot-success::before {
  background: #26c725;
}

.history-tl-container ul.tl li.dot-danger::before {
  background: #ec2525;
}

.history-tl-container ul.tl li.dot-primary:hover::before {
  border-color: #258cc7;
  transition: all 1000ms ease-in-out;
}

.history-tl-container ul.tl li.dot-success:hover::before {
  border-color: #26c725;
  transition: all 1000ms ease-in-out;
}

.history-tl-container ul.tl li.dot-danger:hover::before {
  border-color: #ec2525;
  transition: all 1000ms ease-in-out;
}

/* end timeline */

a.deco-none {
  color: #000000 !important;
  text-decoration: none;
}

ul.tl li .item-detail {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

ul.tl li .item-notes {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12.5px;
}

ul.tl li .timestamp {
  color: #8d8d8d;
  position: absolute;
  width: 100px;
  left: -50%;
  text-align: right;
  font-size: 12px;
}

/* end timeline */

/* toast sweetalert2 */

.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}

/* end toast sweetalert2 */

/* Loading */

.blur {
  filter: blur(5px);
}

#loader {
  background-color: rgba(19, 18, 18, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1030;
}

.loadingio-spinner-double-ring {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#loader .loadingio-spinner-double-ring {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes ldio {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ldio div {
  box-sizing: border-box !important;
}

.ldio > div {
  position: absolute;
  width: 182px;
  height: 182px;
  top: 9px;
  left: 9px;
  border-radius: 50%;
  border: 22px solid #000;
  border-color: #727cf5 transparent #727cf5 transparent;
  animation: ldio 1.6666666666666665s linear infinite;
}

.ldio > div:nth-child(2),
.ldio > div:nth-child(4) {
  width: 134px;
  height: 134px;
  top: 33px;
  left: 33px;
  animation: ldio 1.6666666666666665s linear infinite reverse;
}

.ldio > div:nth-child(2) {
  border-color: transparent #0acf97 transparent #0acf97;
}

.ldio > div:nth-child(3) {
  border-color: transparent;
}

.ldio > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldio > div:nth-child(3) div:before,
.ldio > div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  top: -22px;
  left: 58px;
  background: #727cf5;
  border-radius: 50%;
  box-shadow: 0 160px 0 0 #727cf5;
}

.ldio > div:nth-child(3) div:after {
  left: -22px;
  top: 58px;
  box-shadow: 160px 0 0 0 #727cf5;
}

.ldio > div:nth-child(4) {
  border-color: transparent;
}

.ldio > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldio > div:nth-child(4) div:before,
.ldio > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  top: -22px;
  left: 34px;
  background: #0acf97;
  border-radius: 50%;
  box-shadow: 0 112px 0 0 #0acf97;
}

.ldio > div:nth-child(4) div:after {
  left: -22px;
  top: 34px;
  box-shadow: 112px 0 0 0 #0acf97;
}

.ldio {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio div {
  box-sizing: content-box;
}

/* End Loading */

/* FAB button */

.btn-fab {
  position: fixed;
  width: 50px;
  height: auto;
  right: 20px;
  bottom: 20px;
}

.btn-fab div {
  position: relative;
  height: auto;
}

.btn-fab .btn {
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  display: block;
  margin-bottom: 4px;
  width: 40px;
  height: 40px;
  margin: 4px auto;
}

.btn-fab .btn-main {
  width: 50px;
  height: 50px;
  right: 50%;
  margin-right: -25px;
  z-index: 9;
}

/* end FAB button */

/* validation */

.invalid {
  border: 1px solid #e55353;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

/* End validation */


/* Button */

.btn-warning, .btn-warning:hover {
  color: #fff;
}

/* end Button */
